body{
    background-color: black;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;

}
main{
    max-width: 90%;
}
button{
    background-color: azure;
    color:antiquewhite;
    padding:20px;

}  
.img01{
        width:95%;
}
        .passo{
            display: none;
    }
    .passo.ativo{
        display: block;
    
}
